body {
  font-family: 'Times New Roman', Times, serif;
  padding: 50px;
  font-size: 25px;
}

.loader {
  color: black;
  font-size: 25px;
  margin-top: 25px;
}

.error {
  display: none;
  color: red;
  font-size: 30px;
  margin-top: 25px;
}

.cat-info img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.breed-select {
  width: 250px;
  height: 30px;
  font-size: 20px;
  color: brown;
  font-style: italic;
  font-variant: initial;
}
