body {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding: 50px;
}

.loader,
.error {
  display: none;
  color: green;
  font-size: 30px;
  margin-top: 25px;
}

.cat-info img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.breed-select {
  width: 150px;
  height: 30px;
}
